In [1]:
egg1 = "rocky"

In [2]:
egg11

'rocky'

In [3]:
1egg = "rocky"

SyntaxError: invalid syntax (<ipython-input-3-bc512a7c25c7>, line 1)

In [4]:
c = "hi my name is rakesh"

In [5]:
c

'hi my name is rakesh'

In [8]:
c = 'hi my self rak"flkfjf"'

In [9]:
c

'hi my self rak"flkfjf"'

In [10]:
s = "this is||"

In [11]:
s

'this is||'

In [18]:
s = "hi everyday do / somthing"

In [13]:
s[0]

'h'

In [15]:
s[-1]

'g'

In [26]:
for i in s:
    print(i, end='') 
    #print("\r")

hi everyday do / somthing

In [27]:
s[4:10:1]

'veryda'

In [31]:
s[-10:1:-1]

'/ od yadyreve '

In [32]:
s[-1:-10:-1]

'gnihtmos '

In [33]:
s[-1::-1]

'gnihtmos / od yadyreve ih'

In [40]:
#for i in range(len(s)):
for i in s:
    #print(i)
    if i=="t":
        print("hi dude")
    else :
        print(i)

h
i

e
v
e
r
y
d
a
y

d
o

/

s
o
m
hi dude
h
i
n
g

In [39]:
s[::-1]

'gnihtmos / od yadyreve ih'

In [41]:
s[0]="hi"

TypeError: 'str' object does not support item assignment

In [42]:
i = ["hi hi",1,2,4]

In [43]:
i[0]="ld"

In [44]:
i

['ld', 1, 2, 4]

In [47]:
"rocky"+"kumar"+str(99)

'rockykumar99'

In [52]:
s = "jih hidididi"

In [57]:
s.find("ikkk")

-1

In [54]:
s

'jih hidididi'

In [63]:
s = "my name is rakes"
s.find("name")

3

In [65]:
b = s.find("name")
for b in range(len("name")):
    print(b+i)

3
4
5
6

In [67]:
s.count("r")

1

In [70]:
n = s.capitalize

In [76]:
s.capitalize()

'My name is rakes'

In [77]:
s

'my name is rakes'

In [78]:
s.lower()

'my name is rakes'

In [79]:
s.upper()

'MY NAME IS RAKES'

In [81]:
n = s.split()

In [82]:
type(n)

list

In [83]:
type(s)

str

In [84]:
s.split(',')

['my name is rakes']

In [88]:
a = "we are all a part of Full stach team"

In [89]:
a = "we are all a part of Full stach team"
b = a.lower()

c = a.count("a")

for i in range(len(a)):
    if a[i] == "a":
        print(i)
    else :
        pass
    
d = a.replace("a", "ineuron")

In [90]:
b

'we are all a part of full stach team'

In [91]:
c = a.count("a")

for i in range(len(a)):
    if a[i] == "a":
        print(i)
    else :
        pass
    
d = a.replace("a", "ineuron")

In [92]:
c

6

In [97]:
for i in range(len(a)):
    if a[i] == "a":
        print(i)
    else :
        pass
    
d = a.replace("a", "ineuron")

3
7
11
14
28
34

In [98]:
d = a.replace("a", "ineuron")

In [99]:
d

'we ineuronre ineuronll ineuron pineuronrt of Full stineuronch teineuronm'

In [100]:
a.split()

['we', 'are', 'all', 'a', 'part', 'of', 'Full', 'stach', 'team']

In [101]:
a = "We are all part of Full Stack"

# 1. Normalizing entire string in lower case
print(a.lower())
# 2. Finding number of occurances of a in entire string
print(len([i for i in range(len(a)) if a[i] == 'a']))
# 3. Indexes where a is present 
print([i for i in range(len(a)) if a[i] == 'a'])  
# 4 . replace all a's with ineuron
print(a.replace('a','Ineuron'))
#5. print all the words as a list
print([i for i in a.split() ])

we are all part of full stack
4
[3, 7, 12, 26]
We Ineuronre Ineuronll pIneuronrt of Full StIneuronck
['We', 'are', 'all', 'part', 'of', 'Full', 'Stack']

In [107]:
for i in range(len(s)+1):
    print(s[-i], end="")

msekar si eman ym

In [108]:
s

'my name is rakes'

In [111]:
s = "rakesh"
ch = len(s)-1
while ch>=0:
    print(s[ch])
    ch = ch-1

h
s
e
k
a
r

In [112]:
name = "rakesh"
vowles = "AaEaIiOoUu"

for i in name:
    if i in vowles:
        print("{} this is a vowel".format(i))
    else:
        print("{} this one not a vowel".format(i))

r this one not a vowel
a this is a vowel
k this one not a vowel
e this one not a vowel
s this one not a vowel
h this one not a vowel

In [114]:
a = input("plese enter string to check , given string is parallndram ")

if a[::-1]==a[::]:
    print("given data paralendrum")
else : 
    print("it is not parallendrum")

plese enter string to check , given string is parallndram eye
given data paralendrum

In [133]:
a = input("plese enter string to check , given string is parallndram ")
b=[]
c = []
for i in range(len(a)):
    #b.append(a[i])
    c.append(a[-i-1])

print(list(a),c)
d = list(a)
if c==d:
    print("given parledraum")
else :
    print("not parnallendrum")

plese enter string to check , given string is parallndram mom
['m', 'o', 'm'] ['m', 'o', 'm']
given parledraum