In [13]:
s = "my12name34 is rakesh"

In [2]:
s[0:3]

'my '

In [3]:
s[0:]

'my name is rakesh'

In [4]:
len(s)

17

In [5]:
s[0:17:3]

'mnesas'

In [9]:
s[17::-1]

'hsekar si eman ym'

In [12]:
s[2: -6]

'12name34 is '

In [14]:
s="01234567890"

In [16]:
s[2:-6]

'234'

In [17]:
s[2:-1]

'23456789'

In [18]:
d = "my name is rakesh"

In [28]:
for i in d :
    if i== "m":
        print("hi this is M")
    print(i)

hi this is M
m
y

n
a
hi this is M
m
e

i
s

r
a
k
e
s
h

In [24]:
type(d)

str

In [29]:
d

'my name is rakesh'

In [38]:
for i in d:
    #print(i)
    if i=="i":
        pass
    else :
        print(i)

m
y

n
a
m
e

s

r
a
k
e
s
h

#what is the diffenrt between continue and pass?

In [1]:
n =7 @QQ

NameError: name 'QQ' is not defined

In [12]:
n=7
for i in range(0,n):
    for j in range(0,(n-i)):
        print(" ","+", end="")
    print("\r")

  +  +  +  +  +  +  +
  +  +  +  +  +  +
  +  +  +  +  +
  +  +  +  +
  +  +  +
  +  +
  +

In [14]:
n=7
for i in range(0,n):
    for j in range(0,(n-i)):
        print(" ","+", end="")
    print("\r")

  +  +  +  +  +  +  +
  +  +  +  +  +  +
  +  +  +  +  +
  +  +  +  +
  +  +  +
  +  +
  +

In [28]:
n = int(input("Enter number of rows required :"))

for i in range(n,0,-1):
    for j in range(n-i):
        #print(j)
        print(' ', end='')
        
    for j in range(2*i-1):
        print('*', end='')
    print()

Enter number of rows required :5
*********
 *******
  *****
   ***
    *

In [20]:
s = range(7,0,-1)

In [29]:
n = int(input("Enter number of rows required :"))

for i in range(n):
    for j in range(n-i):
        #print(j)
        print(' ', end='')
        
    for j in range(2*i-1):
        print('*', end='')
    print()

Enter number of rows required :5

    *
   ***
  *****
 *******

In [21]:
s

range(7, 0, -1)

In [26]:
for i in range(7,0,-1):
    print(i)

7
6
5
4
3
2
1