In [1]:
t1 = (234,34,'rocky',34.4)

In [2]:
t1

(234, 34, 'rocky', 34.4)

In [3]:
t2 =(90,45)

In [4]:
t1*t2

TypeError: can't multiply sequence by non-int of type 'tuple'

In [5]:
t1+t2

(234, 34, 'rocky', 34.4, 90, 45)

In [6]:
l1=list(t1)

In [8]:
l1
t6 = 56

In [9]:
l1.insert(3,t6)

In [10]:
l1

[234, 34, 'rocky', 56, 34.4]

In [13]:
t3=tuple(l1)

In [15]:
t3

(234, 34, 'rocky', 56, 34.4)

In [16]:
t=((3,4,5,6,7),("rocky",45,45),("456",54),34.4,[1,2,3,5])

In [17]:
t

((3, 4, 5, 6, 7), ('rocky', 45, 45), ('456', 54), 34.4, [1, 2, 3, 5])

In [19]:
t[4][3]

5

In [20]:
t[4][0:3]

[1, 2, 3]

In [21]:
t[1][0]

'rocky'

In [22]:
type(t)

tuple

In [23]:
for i in t:
    print(i)

(3, 4, 5, 6, 7)
('rocky', 45, 45)
('456', 54)
34.4
[1, 2, 3, 5]

In [25]:
for i in t:
    if type(i)==tuple:
        print(i[0])

3
rocky
456

t1

In [26]:
t1

(234, 34, 'rocky', 34.4)

In [27]:
t2

(90, 45)

In [28]:
if len(t1)==len(t2):
    print("both are same length")
else:
    print("both have diff length")

both have diff length

In [29]:
t = (234,34,"dyavath",3.45,34,True,"rakesh")

In [32]:
i = input("take user input")

if i in t :
    print("yes this avilable in tuple")
else :
    print("not avilable")

take user inputrio
not avilable

In [33]:
t

(234, 34, 'dyavath', 3.45, 34, True, 'rakesh')

In [34]:
l1

[234, 34, 'rocky', 56, 34.4]

In [36]:
t1=(34)

In [37]:
del(t1)

In [38]:
t1

NameError: name 't1' is not defined

In [39]:
del(l1)

In [40]:
l1

NameError: name 'l1' is not defined

In [41]:
l=[2,3,4,5]

In [42]:
l.sort()

In [43]:
l

[2, 3, 4, 5]

In [44]:
t2=(2,3,4,5,5)

In [45]:
t2

(2, 3, 4, 5, 5)

In [46]:
x = set()

In [47]:
type(x)

set

In [53]:
l = [34,45,45,4,5,45,4,4,5,"rocky","Rocky","rocky","rocky"]

In [54]:
l

[34, 45, 45, 4, 5, 45, 4, 4, 5, 'rocky', 'Rocky', 'rocky', 'rocky']

In [61]:
s =set(l)

In [56]:
type(l)

list

In [57]:
type(set(l))

set

In [62]:
for i in s:
    print(i)

34
rocky
5
4
Rocky
45

In [63]:
34 in s

True

In [64]:
s[0]

TypeError: 'set' object is not subscriptable

In [65]:
s{0}

SyntaxError: invalid syntax (<ipython-input-65-8b3d2dc3d6d7>, line 1)

In [66]:
s(0)

TypeError: 'set' object is not callable

In [67]:
s.add(43)

In [68]:
s

{34, 4, 43, 45, 5, 'Rocky', 'rocky'}

In [69]:
s.add("rocky")

In [70]:
s

{34, 4, 43, 45, 5, 'Rocky', 'rocky'}

In [71]:
s.add([234,234])

TypeError: unhashable type: 'list'

In [74]:
s.remove('rocky')

KeyError: 'rocky'

In [75]:
s

{34, 4, 43, 45, 5, 'Rocky'}

In [77]:
"Rocky" in s

True

In [78]:
"rocky" in s

False

In [79]:
s.pop()

34

In [80]:
s

{4, 43, 45, 5, 'Rocky'}

In [82]:
l = list(s)

In [83]:
l

[5, 4, 'Rocky', 43, 45]

In [84]:
l.append("hi")

In [85]:
l

[5, 4, 'Rocky', 43, 45, 'hi']

In [87]:
t4 = tuple(s)

####

In [88]:
t4

(5, 4, 'Rocky', 43, 45)

In [90]:
set(t4)

{4, 43, 45, 5, 'Rocky'}

In [91]:
x = {}

In [92]:
type(x)

dict

In [93]:
x1 = {34,56}

In [94]:
x1

{34, 56}

In [95]:
type(x1)

set

In [100]:
x = {"name":"sudh", "age":3456,"name":"rocky"}

In [101]:
x

{'name': 'rocky', 'age': 3456}

In [102]:
type(x)

dict

In [103]:
P=input("Enter a pargraph")
List=P.split()

Distinct=set(List)

Dict={}
for i in Distinct:
   Dict[i]=List.count(i)

tuple(Dict.values())
list(Dict.keys())

Enter a pargraphhi how are toyoyooyoyo

['how', 'hi', 'are', 'toyoyooyoyo']

In [104]:
data=input("Enter the paragraph-->> ")

# Q1
data_list= data.split(" ")

# Q2
no_duplicate=set(data_list)

# Q3
my_dict={}
for i in no_duplicate:
    my_dict[i]="akshat"
# my_dict

# Q4
tup_list=[]
for i in my_dict.keys():
    tup_list.append(my_dict[i])

print("Tuple List-->> ",tuple(tup_list))


    
# Q5
list_keys=[]
for i in my_dict.keys():
    list_keys.append(i)

print("List Keys-->> ",list_keys)

Enter the paragraph-->> fdhgdfhgdhfg adf;lkga;lgjalgj a;lkjgasldf
Tuple List-->>  ('akshat', 'akshat', 'akshat')
List Keys-->>  ['fdhgdfhgdhfg', 'a;lkjgasldf', 'adf;lkga;lgjalgj']

In [105]:
paragph = input("Enter the para:")
lst1=paragph.split(" ")
s1=set(lst1)
dic1=dict.fromkeys(s1,'db')
t1=tuple(dic1.keys())
l2=list(dic1.values())

Enter the para:fjgalkjg ;lfgkja fgalfg a alkgjafjg 'fj

In [106]:
d = {"com":"roky","course":"DLCNVP", "year":2021}

In [108]:
for i in d:
    print("keys","    "  , i, "vlues","   "  , d[i])

keys      com vlues     roky
keys      course vlues     DLCNVP
keys      year vlues     2021

In [109]:
"course" in d

True

In [111]:
for i in d:
    if i=='year':
        if d[i] > 2021:
            print("year is fine")
        else :
            d[i]=2022

In [112]:
d

{'com': 'roky', 'course': 'DLCNVP', 'year': 2022}

In [114]:
d.values()

dict_values(['roky', 'DLCNVP', 2022])

In [115]:
d.keys()

dict_keys(['com', 'course', 'year'])

In [116]:
d

{'com': 'roky', 'course': 'DLCNVP', 'year': 2022}

In [118]:
my_dict = {}
for i in range(10):
    my_dict[i]=i*i
print(dict)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [119]:
type(my_dict)

dict

In [120]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [124]:
{i:i**4 for i in range(10)}

{0: 0, 1: 1, 2: 16, 3: 81, 4: 256, 5: 625, 6: 1296, 7: 2401, 8: 4096, 9: 6561}